[submodule "third_party/imgui/imgui"]
	path = third_party/imgui/imgui
	url = https://github.com/ocornut/imgui
[submodule "third_party/vkfw/vkfw"]
	path = third_party/vkfw/vkfw
	url = https://github.com/WeaponizedSchizophrenia/vkfw.git
